<head><link rel="stylesheet" href="css/styles.css"></head>
<body>
    <ul class="navbar" id="navbar">
        <a href="#"><li id="tive slave">Profile</li></a>
        <a href="#"><li id="slave">Faculties</li></a>
        <a href="#"><li id="slave">Academics</li></a>
        <a href="#"><li id="slave">Library</li></a>
    </ul>
</body>